<section class="container-fluid" id="section1">
  <div class="v-center">
    <h1 class="text-center">Discover Indiana</h1>
    <h2 class="text-center lato animate slideInDown">Explore Indiana
      <b>
        Without</b>
      Boundaries</h2>
    <p class="text-center">
      <br>
      <a class="btn btn-danger btn-lg btn-huge lato" data-target="#myModal" data-toggle="modal" href="#">Lets Get Started</a>
    </p>
  </div>
  <a href="#section2">
    <div class="scroll-down bounceInDown animated">
      <span>
        <i class="fa fa-angle-down fa-2x"></i>
      </span>
    </div>
  </a>
</section>

<section class="container-fluid s2stuff" id="section2">

    <article>

    </article>

  <div class="container center s2morestuff">
    <div class="row">
      <div id="floating-panel">
        <b>Start:</b> Your Current Location


        <div id="address" type="textbox" styel="line-height:normal" value="Your Location">
          <b>Parks and Recreation Centers
          </b>
        </div>
       <div id="submit"  styel="line-height:normal" value="Start" onchange="calcRoute();"></div>

        <select id="end" onchange="calcRoute();">
          <% @destinations.each do |dest| %>
          <option value="<%= dest.longitude %>, <%= dest.latitude %>"><%= dest.site %></option>
          <% end %>
        </select>
      </div>

      <div class="MapSize">
        <div id="map"></div>
      </div>
      <div id="right-panel"></div>
    </div>

  </div>

</section>

<section class="section3">
  <ul class="clearfix list-unstyled">
  <% if params[:search_destination] %>
    <li><h1 class="text-center"> Listing Search Results for <%=params[:search_destination] %></h1></li>
  <% else %>
    <li><h1 class="text-center">Fun Around Indiana</h1></li>
  <% end %>
<li class="search_bar"><%= form_tag destinations_path, :method => :get, class: "form-inline" do %>
<%= text_field_tag :search_destination, params[:search_destination], placeholder: 'Search for an Activity', class: "form-control_bills", :autocomplete => :off%>
<%= submit_tag "Search", :name => nil, class: "btn-xs btn-danger search-bills" %></li>
<% end %>
</ul>
<br>
    <div class="container">
      <%@destinations.each_slice(4) do |destination_array|%>
        <div class="row">
          <% destination_array.each do |destination| %>
            <div class="col-sm-3 col-xs-3">
              <div class="text-center">
                <%= render partial: "show_destination", :locals => {:destination => destination}%>
                <%= link_to(image_tag(destination.picture_url, class: "img-thumbnail"), "#", "data-toggle" => "modal", "data-target" => "#showdestination#{destination.id}") %>
                    <h3 class="text-center"></h3>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

</section>


<section id="section4">
    <div class="container center">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Sign up for our Newsletter</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <div class="row form-group">
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required="">
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="middleName" name="firstName" placeholder="Middle Name" required="">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required="">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-5">
                        <input type="email" class="form-control" name="email" placeholder="Email" required="">
                    </div>
                    <div class="col-sm-5">
                        <input type="email" class="form-control" name="phone" placeholder="Phone" required="">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-10">
                        <input type="homepage" class="form-control" placeholder="Website URL" required="">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-10">
                        <button class="btn btn-default btn-lg pull-right">Submit</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 pull-right">
                <address>
              <strong>Discover Indiana LLC</strong><br>
              Launch Fishers<br>
              Fishers, IN 94107<br>
              P: (317) 867-5309
            </address>
                <address>
              <strong>Email Us</strong><br>
              <a href="mailto:#">discover@corphack.com</a>
            </address>
            </div>
        </div>
    </div>
</section>



<section class="container-fluid" id="section7">
  <div class="row">


    <div class="col-sm-1 col-sm-offset-3 col-xs-4 text-center">
      <i class="fa fa-facebook fa-4x"></i>
    </div>
    <div class="col-sm-1 col-xs-4 text-center">
      <i class="fa fa-pinterest fa-4x"></i>
    </div>
    <div class="col-sm-1 col-xs-4 text-center">
      <i class="fa fa-google-plus fa-4x"></i>
    </div>
    <div class="col-sm-1 col-xs-4 text-center">
      <i class="fa fa-twitter fa-4x"></i>
    </div>
    <div class="col-sm-1 col-xs-4 text-center">
      <i class="fa fa-reddit fa-4x"></i>
    </div>
  </div>
</section>
