<section class="container-fluid" id="section1">
    <div class="v-center">
        <h1 class="text-center">Just One Page</h1>
        <h2 class="text-center lato animate slideInDown">Change It To Say <b>Something</b> Unique</h2>
        <p class="text-center">
            <br>
            <a href="#" class="btn btn-danger btn-lg btn-huge lato" data-toggle="modal" data-target="#myModal">Get Free Membership</a>
        </p>
    </div>
    <a href="#section2">
		<div class="scroll-down bounceInDown animated">
            <span>
                <i class="fa fa-angle-down fa-2x"></i>
            </span>
		</div>
        </a>
</section>

<section class="container-fluid" id="section2">
    <div class="container center">
        <div class="row">
          <div id="floating-panel">
     <b>Start: </b>
     <select id="start" onchange="calcRoute();">
       <option value="chicago, il">Chicago</option>
       <option value="st louis, mo">St Louis</option>
       <option value="joplin, mo">Joplin, MO</option>
       <option value="oklahoma city, ok">Oklahoma City</option>
       <option value="amarillo, tx">Amarillo</option>
       <option value="gallup, nm">Gallup, NM</option>
       <option value="flagstaff, az">Flagstaff, AZ</option>
       <option value="winona, az">Winona</option>
       <option value="kingman, az">Kingman</option>
       <option value="barstow, ca">Barstow</option>
       <option value="san bernardino, ca">San Bernardino</option>
       <option value="los angeles, ca">Los Angeles</option>
     </select>
     <b>End: </b>
     <select id="end" onchange="calcRoute();">
       <option value="chicago, il">Chicago</option>
       <option value="st louis, mo">St Louis</option>
       <option value="joplin, mo">Joplin, MO</option>
       <option value="oklahoma city, ok">Oklahoma City</option>
       <option value="amarillo, tx">Amarillo</option>
       <option value="gallup, nm">Gallup, NM</option>
       <option value="flagstaff, az">Flagstaff, AZ</option>
       <option value="winona, az">Winona</option>
       <option value="kingman, az">Kingman</option>
       <option value="barstow, ca">Barstow</option>
       <option value="san bernardino, ca">San Bernardino</option>
       <option value="los angeles, ca">Los Angeles</option>
     </select>
     </div>
     <div id="map"></div>
        </div>
        <!--/row-->
        <div class="row">
            <br>
        </div>
    </div>
    <!--/container-->
</section>

<section class>
  <ul class="clearfix list-unstyled">
  <% if params[:search_destination] %>
    <li><h1 class="text-center"> Listing Search Results for <%=params[:search_destination] %></h1></li>
  <% else %>
    <li><h1 class="text-center">Fun Around Indiana</h1></li>
  <% end %>
<li class="search_bar"><%= form_tag destinations_path, :method => :get, class: "form-inline" do %>
<%= text_field_tag :search_destination, params[:search_destination], placeholder: 'Search for an Activity', class: "form-control_bills", :autocomplete => :off%>
<%= submit_tag "Search", class: "btn-xs btn-danger search-bills" %></li>
<% end %>
</ul>
<br>
    <div class="container">
      <%@destinations.each_slice(4) do |destination_array|%>
        <div class="row">
          <% destination_array.each do |destination| %>
            <div class="col-sm-3 col-xs-3">
              <div class="text-center">
                <%= link_to(image_tag(destination.picture_url, class: "img-thumbnail"), destination.website_url, target: "blank") %>
                    <h3 class="text-center"></h3>
              </div>
            </div>
          <%end%>
        </div>
      <%end%>
        <!--/row-->
    </div>
</section>
